<% layout("layouts/default") %>

<div class="content overflow">
	<div class="window">

		<!-- Sidebar -->
		<div id="sidebar" class="sidebar collapsed">
			<!-- Nav -->
			<ul class="sidebar-tabs" role="tablist">
				<li><a href="#locations"	title="Custom Locations" role="tab"><i class="fa fa-fw fa-map-marker"></i></a></li>
				<li><a href="#layers"		title="Data Heatmap" role="tab"><i class="fa fa-fw fa-database"></i></a></li>
				<li><a href="#filter"		title="Surounding Places" role="tab"><i class="fa fa-fw fa-filter"></i></a></li>
				<li><a href="#house"		title="House Specifications" role="tab"><i class="fa fa-fw fa-home"></i></a></li>
			</ul>

			<!-- Pane -->
			<div class="sidebar-content active">

				<div class="sidebar-pane" id="locations">
					<div id="sidebar-locations">
						<form id="location_form" method="post">
							<div class="input-container">
								<div class="icon"><i class="fa fa-map-marker fa-fw"></i></div>
								<input type="text" class="wide" id="location_input" name="location" value="<%= location %>" placeholder="location">
								<button type="submit" class="narrow" name="button"><i class="fa fa-plus fa-fw"></i> Add</button>
							</div>
						</form>

						<h3 class="padded">Custom Locations</h3>
						<ul class="places" id="location_list">

						</ul>
					</div>
				</div>

				<div class="sidebar-pane" id="layers">
					<div class="padded" id="sidebar-layers">
						<h3>Data heatmaps to show</h3>
						<div class="input-container">
							<input id="heatmap_checkbox" type="checkbox" checked>
							<label for="heatmap_checkbox">Heatmap</label>
							<div class="icon"><i class="fa fa-map-o"></i></div>
						</div>
					</div>
				</div>


				<div class="sidebar-pane" id="filter">
					<div class="padded" id="sidebar-filter">
						<h3>Filter the places shown</h3>
					</div>
				</div>

				<div class="sidebar-pane" id="house">
					<div class="padded" id="sidebar-filter">
						<h3>Filter house prices</h3>
						<p style="text-align: center;">
							 <input type="range" min="100000" max="700000" value="100000">
							to <input type="range" min="100000" max="700000" value="700000">
						</p>
					</div>
				</div>


			</div>
		</div>

		<div id="map" class="sidebar-map"></div>
	</div>

	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

	<script src="<%= global.base%>/sidebar/leaflet-sidebar.min.js"></script>

	<script src="<%= global.base%>/heatmap.min.js"></script>
	<script src="<%= global.base%>/leaflet-heatmap.js"></script>

	<link rel="stylesheet" href="<%= global.base%>/awesome-markers/leaflet.awesome-markers.css">
	<script src="<%= global.base%>/awesome-markers/leaflet.awesome-markers.min.js"></script>

	<script src="<%= global.base%>/js/map.js" charset="utf-8"></script>
</div>
