<%
	var isLink = function(url){
		var pattern = /^((http|https|ftp):\/\/)/;
		return pattern.test(url);
	}

    var displayMenu = function(menu, cls){
        if(menu!==undefined || menu.constructor === Array){
            %><ul class="<%- cls || "" %>"><%
                for(var i=0; i<menu.length; i++) {
					var url		= isLink(menu[i].link)	? menu[i].link : global.base+menu[i].link;
					var cls		= (menu[i].class!=null)	? menu[i].class : '';
					var trg		= (menu[i].blank)		? ' target="_blank"' : '';
					var act		= ((global.base+menu[i].link) == global.urlPg) ? 'active' : '';
					%>
					<li><a href="<%- url %>" class="<%- cls %> <%- act %>"<%- trg %>><%- menu[i].label %></a><%
						if(menu[i].menu !== undefined){
							displayMenu(menu[i].menu);
						}
					%></li>
                <% }
            %></ul><%
        }
    }
%>

<header>
	<div class="title">
		<h1><a href="<%= global.base %>/"><img src="<%= global.base %>/img/24-white.png" alt="" /> <%= stg.title %></a></h1>
	</div>
	<div class="menu">
		<label for="show-menu" class="show-menu"><i class="fa fa-bars"></i> Menu</label>
		<input type="checkbox" id="show-menu" role="button">
		<% displayMenu(menu) %>
		<% displayMenu(usermenu, "right") %>
	</div>
</header>
